body {
	font-family: 'Roboto Mono', monospace;
	background: #2C3E50;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #eee;
}

.roboto {
	font-family: 'Roboto Mono', monospace;
}
.site {
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
	
}
.site img {
	transition: transform .1s ease, filter .3s ease;
	filter: grayscale(1)
}
.site:hover img {
	transform: scale(1.1);
	filter: grayscale(0)
}
.site span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	background-color: rgba(0, 0, 0, .4);
}
.copy {
	border-top: 2px solid #eee;
}
.copy span {
	font-size: .8rem;
}